// Note: you need 'css3-prefix' mixin

// Background Image
// Usage: @include background-image(image, png, 100px, 100px, center, no-repeat);

$image-path: '../img/';

@mixin background-image($file, $type, $width, $height, $position, $repeat) {
	
	background-image: url($image-path + $file + '.' + $type);
	background-position: $position;
	background-repeat: $repeat;
	@include css3-prefix('background-size', $width $height);
	
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
	    only screen and (-moz-min-device-pixel-ratio: 2),
	    only screen and (-o-min-device-pixel-ratio: 2/1),
	    only screen and (min-device-pixel-ratio: 2),
	    only screen and (min-resolution: 192dpi),
	    only screen and (min-resolution: 2dppx){
	    & {
			background-image: url($image-path + $file + '-2x.' + $type);
			@include css3-prefix('background-size', $width $height);
	    }
	}
	
}