// Opacity
// Usage: @include opacity(0.8);
@mixin opacity($value) {
    $opacity-ie: $value * 100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$opacity-ie+")";
    filter: alpha(opacity=$opacity-ie);
}