// Background Image
// Usage: @include background-image(logo, png, 100px 100px, center, no-repeat, true);
// Note: you need 'hidpi' mixin

$image-path: '../img/';

@mixin background-image($file, $type, $width, $height, $position, $repeat, $retina: false) {

    background-image: url($image-path + $file + '.' + $type);
    background-position: $position;
    background-repeat: $repeat;
    background-size: $width $height;

    @if ($retina == true) {

        @include hidpi(1.3) {
            background-image: url($image-path + $file + '-2x.' + $type);
        }

    }

}