// Breakpoints
// Usage: @include breakpoint(tablet) {}

$phone: 320px;
$phablet: 480px;
$tablet: 768px;
$tablet-landscape: 1024px;
$desktop: 1200px;

@mixin breakpoint($class) {

    @if $class == phone {
        @media (max-width: $phone) { @content; }
    }

    @else if $class == phablet {
        @media (max-width: $phablet) { @content; }
    }

    @else if $class == tablet {
        @media (max-width: $tablet) { @content; }
    }

    @else if $class == tablet-landscape {
        @media (max-width: $tablet-landscape) { @content; }
    }

    @else if $class == desktop {
        @media (max-width: $desktop) { @content; }

    }

    @else if $class == xl-desktop {
        @media (min-width: $desktop + 1) { @content; }
    }

}