// Linear Gradient Background
// Usage: @include linear-gradient(left, right, start-percent, end-percent, #cccccc, #666666);

@mixin linear-gradient($start, $end, $start-percent, $end-percent, $color1, $color2) {

    @if $start == 'top' { $type: 0; }
    @else if $start == 'left' { $type: 1; }

    background: $color1;
    background: -moz-linear-gradient($start, $color1 $start-percent, $color2 $end-percent);
    background: -webkit-linear-gradient($start, $color1 $start-percent, $color2 $end-percent);
    background: -o-linear-gradient($start, $color1 $start-percent, $color2 $end-percent);
    background: -ms-linear-gradient($start, $color1 $start-percent, $color2 $end-percent);
    background: linear-gradient(to $end, $color1 $start-percent, $color2 $end-percent);
    
}